<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/produto.css">
    <title>Document</title>
</head>
<body>
    <h1>CRIAR PRODUTO</h1>

    <form action="/adicionar-Produto" method="post">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="preco">Preço</label>
        <input type="number" name="preco" id="preco">


        <button type="submit">SALVAR</button>
    </form>
</body>
</html>